body{
  background-image: url('../images/flower-img.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.text-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
}

.text-1{
  font-family: Noto Sans, sans-serif;
  color: beige;
  text-align: center;
}

.text-2{
  font-family: Snell Roundhand, cursive;
  color: beige;
  font-size: 85px;
  text-align: center;
  margin-top: -60px;
  z-index: 1;
}