body{
  background-image: url('../images/flower-img.jpg');
  background-size: cover;
  background-attachment: scroll;
}

h1{
  font-family: Noto Sans, sans-serif;
  color: beige;
  text-align: center;
  max-width: 2000px;
  width: 100%;
}

h2{
  font-family: Snell Roundhand, cursive;
  color: beige;
  text-align: center;
}

.center {
  display: flex;
  align-items: center;
  height: 500px;
}